/**/
    #demo ul {
        display:block;
        margin:10px 10px;
        padding:0;
        font-size:22px;
        list-style-type:none;
        text-align:center;
        box-sizing:brder-box;
        vertical-align: middle;
    }#demo li {
        display:inline;
        height: 100px;
        width: 970px;
        padding:7px;
    }#demo ul li a:hover {
        color:#ff0000;
    }#form_txt {
        font-size:18px;
    }#txt_red {
        font-size:13px;
        color:#ff0000;
    }#formTable {
        font-size:16px;
    }#header_txt {
        color:#FFFFFF;
    }a{
        text-decoration: none;
    }#searchResult {
        font-size:18px;
    }